.modal-header {
	position:relative;
	padding-bottom:10px !important;
	margin-bottom:15px;
	&:after {
		position:absolute;
		bottom:0;
		width:26px;
		height:2px;
		background:#000;
		content:"";
	}
}
h5.modal-title {
	font-size:20px;
	font-weight:normal;
}
.sub-title {
	font-weight:300;
	font-size:12px;
	padding:6px 0;	
}
.calendar-pop-title {
	font-weight:600;
	font-size:12px;
	padding:5px 0;
}
.input-calendar {
	background-color:#f3f3f3;
	border:2px solid #f3f3f3;
}
.input-calendar:focus {
	background-color:#fff;
	border:2px solid #a0a0a0;
}
.calendar-date {
	background-image:url(../image/input-calendar.gif);
	background-repeat:no-repeat;
	background-position:right center;
}
.mytable {
	padding-bottom:25px;
	border-bottom:1px dashed #dad9d8;
}
.mytable + .mytable {
	padding-top:25px;
}
.btn-black {
	background-color:#000;
	color:#fff;
	border:1px solid #000 !important;
	&:hover,&:focus {
		color:#fff;
		background:#333;
	}
	&:active {
		color:#ccc !important;
	}	
}
.btn-calendar-cancel {
	width:22px;
	height:22px;
	display:block;
	background-image:url(../image/calendar_cancel.png);
	vertical-align:middle;
	overflow:hidden;
	text-indent:-3000em;
	margin-top:6px;
	border:0 none;
}
.btn-calendar-add {
	width:22px;
	height:22px;
	display:block;
	background-image:url(../image/calendar_add.png);
	vertical-align:middle;
	overflow:hidden;
	text-indent:-3000em;
	margin-top:6px;
	border:0 none;
}
.schedule-add-btn {
	a,button {
		margin-top:0px;
		margin-left:10px;
	}
}
.schedule-t-info {
	padding:6px 0 0 10px;
}
.schedule-price-input {
	width:144px !important;
}
.calendar-time {
	background-image:none !important;
	text-align:center;
}
.schedule-box {
	padding:0 0 20px;
	margin-bottom:20px;
	border-bottom:1px solid #e9e8e7;
}
.schedule-people{
	width:50px;
	&:after {
		left:50% !important;
		margin-left:-12px;
		margin-top:-11px !important;
	}
}
.sssd_mark {
	position:relative;
	&:before {
		width:11px;
		height:20px;
		position:absolute;
		top:0;
		left:55px;
		z-index:10;
		content:"";
		background-image:url(../image/sssd_mark.png)
	}
	#mebName {
		border:1px solid #ff6a55;
	}
}
.calender-type-color1:before {
	background-color:#f8c115 !important;
}
.calender-type-color2:before {
	background-color:#f84515 !important;
}
.calender-type-color3:before {
	background-color:#93db3e !important;
}
.calender-type-color4:before {
	background-color:#35ace3 !important;
}
.calender-type-color5:before {
	background-color:#254dd1 !important;
}
.calender-type-color6:before {
	background-color:#6025c2 !important;
}
.calender-type-color7:before {
	background-color:#c22598 !important;
}
.calender-type-color8:before {
	background-color:#da1919 !important;
}
.calender-type-color9:before {
	background-color:#999999 !important;
}
.calender-type-color10:before {
	background-color:#000000 !important;
}
.calender-type-sssd .fc-content:after {
	background-image:url(../image/sssd_mark_sm.png);
	background-size:8px 15px;
	background-repeat:no-repeat;
	width:8px;
	height:15px;
	content:"";
	display:inline-block;
	margin-left:3px;
	vertical-align: middle;
}
.calendar-notice {
	background-color:#f3f2f1;
	padding:20px; 
	margin-top:20px;
	color:#999;
	font-size:12px;
	word-break: keep-all;
}