.modal-header {
	position:relative;
	padding-bottom:10px !important;
	margin-bottom:15px;
	&:after {
		position:absolute;
		bottom:0;
		width:26px;
		height:2px;
		background:#000;
		content:"";
		
	}
}
h5.modal-title {
	font-size:20px;
	font-weight:normal;
}
.sub-title {
	font-weight:300;
	font-size:12px;
	padding:6px 0;	
}
.calendar-pop-title {
	font-weight:600;
	font-size:12px;
	padding:5px 0;
}
.input-calendar {
	background-color:#f3f3f3;
	border:2px solid #f3f3f3;
}
.input-calendar:focus {
	background-color:#fff;
	border:2px solid #a0a0a0;
}
.calendar-date {
	background-image:url(../image/input-calendar.gif);
	background-repeat:no-repeat;
	background-position:right center;
}
.mytable {
	padding-bottom:25px;
	border-bottom:1px dashed #dad9d8;
}
.mytable + .mytable {
	padding-top:25px;
}
.btn-black {
	background-color:#000;
	color:#fff;
	border:1px solid #000 !important;
	&:hover,&:focus {
		color:#fff;
		background:#333;
	}
	&:active {
		color:#ccc !important;
	}	
}
.btn-calendar-cancel {
	width:22px;
	height:22px;
	display:block;
	background-image:url(../image/calendar_cancel.png);
	vertical-align:middle;
	overflow:hidden;
	text-indent:-3000em;
	margin-top:6px;
}